body {
  background-image: url('https://images.unsplash.com/photo-1581165672764-4e30f67f1363?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  padding-bottom: 25px;
}

nav {
  color: #ffffff;
}

img {
  width: 300px;
  height: 400px;
}

.icon {
  height: 50px;
  width: 50px;
}
